.navigation {
  width: fit-content;
  position: fixed;
  top: 0;
  padding: 2em 3em;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  transition: 0.4s linear;

  &__list {
    @include flex(row, center, center);
    list-style: none;
    gap: 1em;
  }

  z-index: 40;
}

.list {
  &__anchor {
    text-decoration: none;
    color: $yellow;
    font-family: $font;
    font-weight: bold;
    font-size: clamp(0.625rem, 6vw, 1rem);
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    transition: 0.5s linear;

    &:after {
      content: "";
      width: 0%;
      height: 2px;
      background-color: $yellow;
      position: absolute;
      top: 100%;
      left: 0;
    }

    &:hover {
      &:after {
        width: 100%;
        transition: 0.5s linear;
      }
    }
  }
}

.hiddencontent {
  display: none;
}

@keyframes menu {
  from {
    bottom: 5%;
    right: 10%;
    width: 3rem;
    height: 2.5rem;
  }

  to {
    bottom: 0%;
    right: 0%;
    width: 100vw;
    height: 100vh;
  }
}

.navbox {
  position: fixed;
  bottom: 5%;
  right: 10%;
  @include size(3rem, 2.5rem);
  padding: 1.8rem 2rem;
  @include flex(column);
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: $purple;
  border: 3px $darkPurple solid;

  i {
    font-size: clamp(1rem, 10vw, 2rem);
    color: $yellow;
  }
}

.screensize {
  animation: .3s menu ease-in-out;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  @include glassmorph($darkPurple, #000, 0, 6px);
  padding: 1rem;
  gap: 1rem;

  #icon {
    margin-bottom: 2rem;
    font-size: clamp(1rem, 10vw, 3rem);
  }

  .list {
    @include flex(column);
  }

}